{% extends "base.html" %}
{% load crispy_forms_filters %}
{% block title %}
    <title>Login</title>
{% endblock %}

{% block content %}
        <!-- Sign In Start -->
        <div class="container-fluid">
            <div class="row h-100 align-items-center justify-content-center" style="min-height: 100vh;">
                <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                    <div class="bg-secondary rounded p-4 p-sm-5 my-4 mx-3">
                        <div class="d-flex align-items-center justify-content-between mb-3">
                                <h3 class="text-primary"><i class="fa fa-user-edit me-2"></i>Sign in</h3>
                        </div>
                        <form action="#" method="post">
                            {% if form.non_field_errors %}
                                {% for error in form.non_field_errors %}
                                    <span class="text-danger">{{ error }}</span>
                                {% endfor %}
                            {% endif %}
                            {% csrf_token %}

                            {% comment %} {% for field in form %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            <div class="form-floating mb-4">
                               
                                <span  class="">{{ field }}</span>
                            </div>
                            {% endfor %} {% endcomment %}
                            {{ form|crispy }}


                        
                        <!-- <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                            <label for="floatingInput">Email address</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                            <label for="floatingPassword">Password</label>
                        </div> -->

                        
                        <div class="d-flex align-items-center justify-content-between mb-4">
                            <a href="">Forgot Password</a>
                        </div>
                        <button type="submit" class="btn btn-primary py-3 w-100 mb-4">Sign In</button>
                        <p class="text-center mb-0">Don't have an Account? <a href="{% url 'network_administrator:registration' %}">Registrat Account</a></p>
                    </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sign In End -->
{% endblock %}